.header-video-holder {
  height: 100vh;
}
.header-video-row {
  height: 80vh;
}
.header-video {

height: 100%;
width: 100%;
clip-path: polygon(33% 57%, 55% 56%, 54% 0, 100% 0, 100% 71%, 82% 76%, 82% 100%, 17% 100%, 16% 85%, 0 84%, 0 74%, 33% 72%);
border-radius: 0.9vw;

}
