.nav-holder {
  position: absolute;
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 8;
  /* height: 7vh; */
  /* border-bottom: 1px solid rgb(10, 10, 13, 0.3); */
}
.nav-bg {
  /* background-color: #cc0909; */
  transition: all 1s ease-out;
}
.navbar {
  /* background-color: #eeefe8; */
}
.navbar-nav {
  background: rgb(208, 208, 208);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgb(242, 242, 242) 50%,
    rgba(242, 242, 242, 0.3) 100%
  );
  border-radius: 10vw;
  border: 1px solid hsl(0, 0%, 100%, 0.5);
  -webkit-box-shadow: inset 5px 4px 7px -6px #271b00;
  box-shadow: inset 5px 6px 4px -6px #271b00;
}

.nav-holder {
  /* background-color: #eeefe8; */
  /* background-color: var(--main-bg-color); */
  /* background-color: transparent;  */
  /* background-color: #ffffff; */
}
.nav-one {
  /* border-right: 1px solid rgba(0, 0, 0, 0.3); */
  height: 7vh;
}

.nav-three {
  /* border-left: 1px solid rgba(0, 0, 0, 0.3); */
  height: 7vh;
}
.nav-link {
  /* text-transform: uppercase; */
  color: hsl(0, 0%, 41%) !important;
  text-decoration: none;
  font-family: 'Semibold';
  font-size: 0.8vw;
}
.nav-link:active,
.nav-link:visited {
  /* color:rgba(250, 211, 133,1) !important; */
  text-decoration: none;
  font-family: 'Regular';
  font-size: 0.8vw;
  border-bottom: none;
}
.nav-link:hover {
  color: black !important;
  text-decoration: none;
  font-family: 'Bold';
  font-size: 0.8vw;
  /* border-bottom: 1px solid rgb(12, 12, 12); */
}
/* .phone img:last-child {
  display: none;
}
.phone:hover img:last-child {
  display: block;
}
.phone:hover img:first-child {
  display: none;
}
.email img:last-child {
  display: none;
}
.email:hover img:last-child {
  display: block;
}
.email:hover img:first-child {
  display: none;
}
.phone-img {
  width: 1.1vw;
}
.email-img {
  width: 1.1vw;
} */
/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .nav-link {
    color: black !important;
    text-decoration: none;
    font-family: 'Regular';
    font-size: 1vw;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .nav-link {
    color: black !important;
    text-decoration: none;
    font-family: 'Regular';
    font-size: 1.3vw !important;
  }
  /* .nav-link:active,.nav-link:visited{
  color: black !important;
  text-decoration: none;
  font-family: 'JosrRegular';
  font-size: 1vw ;
}
.nav-link:hover {
  color: black !important;
  text-decoration: none;
  font-family: 'JosrRegular';
  font-size:1vw;
  border-bottom: none;
} */
  .nav-one {
    /* border-right: 1px solid rgba(0, 0, 0, 0.3); */
    height: 6vh;
  }

  .nav-three {
    /* border-left: 1px solid rgba(0, 0, 0, 0.3); */
    height: 6vh;
  }
  .phone-img {
    width: 1.5vw;
  }
  .email-img {
    width: 1.5vw;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .nav-link {
    color: black !important;
    text-decoration: none;
    font-family: 'Regular';
    font-size: 2vw !important;
  }
  .phone-img {
    width: 2vw;
  }
  .email-img {
    width: 2vw;
  }
  .nav-link:active,
  .nav-link:visited {
    color: black !important;
    text-decoration: none;
    font-family: 'Regular';
    font-size: 2vw !important;
  }
  .nav-link:hover {
    color: black !important;
    text-decoration: none;
    font-family: 'Regular';
    font-size: 2vw !important;
    border-bottom: none;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .nav-link {
    color: black !important;
    text-decoration: none;
    font-family: 'Regular';
    font-size: 6vw;
  }
  .nav-link:active,
  .nav-link:visited {
    color: black !important;
    text-decoration: none;
    font-family: 'Regular';
    font-size: 3.8vw !important;
  }
  .nav-link:hover {
    color: black !important;
    text-decoration: none;
    font-family: 'Regular';
    font-size: 3.8vw !important;
    border-bottom: none;
  }
  .phone-img {
    width: 2vw;
  }
  .email-img {
    width: 2vw;
  }
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .nav-link {
    color: black !important;
    text-decoration: none;
    font-family: 'Regular';
    font-size: 3.8vw !important;
  }

  .nav-link:active,
  .nav-link:visited {
    color: black !important;
    text-decoration: none;
    font-family: 'Regular';
    font-size: 3.8vw;
  }
  .nav-link:hover {
    color: black !important;
    text-decoration: none;
    font-family: 'Regular';
    font-size: 3.8vw;
    border-bottom: none;
  }
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
