.nav-holder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 7vh;
  border-bottom: 1px solid rgb(10, 10, 13, 0.3);
}

.nav-holder {
  background-color: #fff;
    background-color: #eeefe8;
}
.nav-one {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  height: 7vh;
}
.nav-three{
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  height: 7vh;
}
.n-link {
  color: black !important;
  text-decoration: none;
  font-family: 'JosrRegular';
  font-size: 0.9vw;
}
.n-link:hover {
  color: black !important;
  text-decoration: none;
  font-family: 'JosrRegular';
  font-size: 0.9vw;
  border-bottom: 1px solid rgb(12, 12, 12);
}
.phone img:last-child {
  display: none;
}
.phone:hover img:last-child {
  display: block;
}
.phone:hover img:first-child {
  display: none;
}
.email img:last-child {
  display: none;
}
.email:hover img:last-child {
  display: block;
}
.email:hover img:first-child {
  display: none;
}
  .phone-img{

    width: 1.1vw;
  }
  .email-img{

    width: 1.1vw;
  }
/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .n-link {
  color: black !important;
  text-decoration: none;
  font-family: 'JosrRegular';
  font-size: 1.5vw;
}
    .phone-img{

    width: 2vw;
  }
    .email-img{

    width: 2vw;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */