.nav-holder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 7vh;
  border-bottom: 1px solid rgb(10, 10, 13, 0.3);
}


.n-link{
  color: black !important;
  text-decoration: none;
   font-family: 'JosrRegular';
   font-size: 0.9vw;
}
.n-link:hover{
  color: black !important;
  text-decoration: none;
   font-family: 'JosrRegular';
   font-size: 0.9vw;
   border-bottom: 1px solid rgb(12, 12, 12);
}
.phone img:last-child{
  display: none;

}
.phone:hover img:last-child{
  display: block;

}
.phone:hover img:first-child{
  display: none;

}
.email img:last-child{
  display: none;

}
.email:hover img:last-child{
  display: block;

}
.email:hover img:first-child{
  display: none;

}




