.nav-slider {
  /* position: absolute; */
  bottom: 0;
  height: 7vh;
  z-index: 40;
  /* background-color: #441818; */
    /* background-color: var(--main-bg-color); */
}
.nav-slider-holder {
  /* border-top: 1px solid rgba(0, 0, 0, 0.3); */
}
.carousel-control-prev,
.carousel-control-next {

  position: relative !important;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh !important;
  width: 100% !important;
  padding: 0;
  color: #000000 !important;
  text-align: center;
  background: #c8ff00 !important;
  border: 0;
  font-family: 'Regular';
  font-size: 0.9vw;
text-transform: uppercase;
letter-spacing: 0.29vw;
  opacity: 0.9;
  transition: opacity 0.15s ease;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    /* border-radius: 20px !important; */
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
     -webkit-box-shadow: inset 5px 4px 7px -6px #271b00;
  box-shadow: inset 5px 6px 4px -6px #271b00;
  position: relative !important;

  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh !important;
  width: 100% !important;
  padding: 0;
  color: #000000 !important;

  text-align: center;
  font-family: 'Regular';
background-color: #fff;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
.carousel-control-prev,
.carousel-control-next {
  position: relative !important;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh !important;
  width: 100% !important;
  padding: 0;
  color: #000000 !important;
  text-align: center;
  background: 0 0;
  border: 0;
  font-family: 'JosrRegular';
  font-size: 1.4vw;
text-transform: uppercase;
letter-spacing: 0.29vw;
  opacity: 0.9;
  transition: opacity 0.15s ease;

  border: 1px solid rgba(0, 0, 0, 0.3) !important;

}

}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .nav-slider-holder {
  border-top: none;
}

.carousel-control-prev,
.carousel-control-next {
  position: relative !important;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh !important;
  width: 100% !important;
  padding: 0;
  color: #000000 !important;
  text-align: center;
  background: 0 0;
  border: 0;
  font-family: 'JosrRegular';
  font-size: 4vw;
text-transform: uppercase;
letter-spacing: 0.29vw;
  opacity: 0.9;
  transition: opacity 0.15s ease;

  border: 1px solid rgba(0, 0, 0, 0.3) !important;

}


}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */