.profile {
  position: relative;

  height: 90vh;

}

.profile-one {
  height: 90vh;
  background-image: url(/img/bg-profile-side.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.profile-two {
  height: 90vh;

  background-image: url(/img/textureHM.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.profile-three {
  height: 90vh;
  background-image: url(/img/bg-profile-side.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.profile-img {
  position: absolute;
  right: 10vw !important;
  top: 3vh;
  z-index: 5;

  height: 95vh;
  width: auto;
  background-image: url(/img/portrait.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .profile {
    position: relative;
    /* width: 100%; */
    height: 105vh;
    background-image: url(/img/Profile.jpg);
    background-image: url(/img/portfolio_background_contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .profile-one {
    height: 105vh;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .profile-two {
    height: 105vh;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .profile-img {
    position: absolute;
    right: 4vw !important;
    top: 5vh;
    z-index: 5;

    height: 99vh;
    /* width: 28vw !important; */
    background-image: url(/img/portrait.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
  }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .profile {
    position: relative;
    /* width: 100%; */
    height: auto;
    background-image: url(/img/Profile.jpg);
    background-image: url(/img/portfolio_background_contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .profile-one {
    height: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .profile-two {
    height: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .profile-img {
    position: absolute;
    right: 2vw !important;
    top: 12vh;
    z-index: 5;

    height: 80vh;
    /* width: 29vw !important; */
    background-image: url(/img/portrait.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .profile-one {
    height: 10vh;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .profile {
    position: relative;
    /* width: 100%; */
    height: auto;
    /* background-image: url(/img/Profile.jpg); */
    background-image: url(/img/portfolio_background_contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .profile-img-mobile {
    z-index: 5;

    height: 59vh;

    background-image: url(/img/portrait.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
  }
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
