.profile {
  background-color: var( --main-bg-color);
  height: 100vh;
}

.profile-one {
  height: 90vh;

}
.profile-two {
  height: 90vh;

}

.profile-three {
  height: 90vh;

}
.profile-TitleTop{
font-family: Bold;
font-size: 183.8px;
 margin-bottom: -10.9vh !important;
}
.profile-TitleBottom{
font-family: Bold;
font-size: 183.8px;
 transform: scale(1, -1);

}
/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .profile {
    position: relative;

  }
  .profile-one {
    height: 105vh;
    /* border-right: 1px solid rgba(255, 255, 255, 0.2); */
  }
  .profile-two {
    height: 105vh;
    /* border-right: 1px solid rgba(255, 255, 255, 0.2); */
  }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .profile {
    position: relative;
 
    height: auto;

  }
  .profile-one {
    height: auto;

  }
  .profile-two {
    height: auto;
    /* border-right: 1px solid rgba(255, 255, 255, 0.2); */
  }
 
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .profile-one {
    height: 10vh;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .profile {
    position: relative;
    /* width: 100%; */
    height: auto;
    /* background-image: url(/img/Profile.jpg); */
    /* background-image: url(/img/portfolio_background_contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
  }

  .profile-img-mobile {
  
  }
  .profile-two {
    height: 85vh;
    /* 
  background-image: url(/img/profile_Mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */

    /* border-right: 1px solid rgba(255, 255, 255, 0.2); */
  }
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
