.steps {
  height: auto;
  /* background-image: url(/img/Background.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover; */
  /* background-color: var(--main-bg-color); */
  color: rgb(0, 0, 0);
}
.steps-one {
  height: auto;
  /* background-color: rgb(255, 255, 255); */
  border-right: 1px solid hsl(42, 59%, 93%, 0.2);
}
.steps-title {
  transform-origin: 0 24.9vh;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: #f1f1f1;
  font-size: 5vw;
  font-family: Bold;
}
.steps-two {
  height: auto;
  /* background-color: rgb(255, 255, 255); */
  border-right: 1px solid hsl(42, 59%, 93%, 0.2);
}
.steps-three {
  height: 100vh;
  /* background-color: rgb(255, 255, 255); */
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .steps {
    height: auto;
  }
  .steps-one {
    height: auto;
  }
  .steps-two {
    height: auto;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .steps {
    height: auto;
  }
  .steps-one {
    height: auto;
  }
  .steps-two {
    height: auto;
  }
    .steps-title {
  transform-origin: 0 24.9vh;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: #f1f1f1;
  font-size:6.4vw;
  font-family: Bold;
}
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .steps {
    position: relative;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto !important;
  }
  .steps-one {
    height: 10vh;
  }
  .steps-two {
    height: auto !important;
    /* background-color: rgb(255, 255, 255); */
    /* border-right: 1px solid rgb(10, 10, 13, 0.3); */
  }
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
