.steps {
  height: 105vh;
}
.steps-one {
  height: 105vh;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgb(10, 10, 13, 0.3);
}
.steps-two {
  height: 105vh;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgb(10, 10, 13, 0.3);
}
.steps-three {
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .steps {
    height: auto;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .steps {
    height: auto;
  }
  .steps-one {
    height: auto;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(10, 10, 13, 0.3);
  }
  .steps-two {
    height: auto;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(10, 10, 13, 0.3);
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .steps {
    position: relative;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto !important;
  }
  .steps-one {
    height: 10vh;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(10, 10, 13, 0.3);
  }
  .steps-two {
    height: auto !important;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(10, 10, 13, 0.3);
  }
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
