body,
html {
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}
/* ==================== Fonts ============================================*/
@font-face {
  font-family: 'JosrLight';
  src: url('/Fonts/Jost-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'JosrRegular';
  src: url('/Fonts/Jost-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RockSalt';
  src: url('/Fonts/RockSalt-Regular.ttf') format('truetype');
}

.font-ComforterBrush-regular {
  font-family: 'JosrRegular';
}

.rock-salt {
  font-family: 'RockSalt';
}

.jost-light {
  font-family: 'JosrLight';
}
.jost-regular {
  font-family: 'JosrRegular';
}
.letter-space-05 {
  letter-spacing: 0.5vw;
}
.letter-space-02 {
  letter-spacing: 0.2vw;
}

.font-titel {
  font-family: 'JosrLight';
  color: rgb(255, 255, 254);
  font-size: 5.8vw;

  letter-spacing: 1vw;
}

.font-titel-name {
  font-family: 'RockSalt';
  color: rgb(155, 155, 155);
  font-size: 1.7vw;
  letter-spacing: 0.2vw;
}
.font-subtitle {
  font-family: 'JosrLight';

  font-size: 16px;
}
.font-text {
  font-family: 'JosrLight';

  font-size: 0.8vw;
}

.font-20 {
  font-size: 1vw;
}
.font-48-83 {
  font-size: 48.83px;
}
/* ==================== Colours ============================================*/

.orange {
  color: #ed8e35;
}
.white {
  color: rgb(255, 255, 255, 0.7);
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .font-titel {
    font-family: 'JosrLight';
    color: rgb(255, 255, 254);
    font-size: 14.5vw;
    letter-spacing: 2vw;
  }

  .font-titel-name {
    font-family: 'RockSalt';
    color: rgb(155, 155, 155);
    font-size: 5.7vw;
    letter-spacing: 0.2vw;
  }
  .font-text {
  font-family: 'JosrLight';

  font-size: 3.5vw;
}
.font-20 {
  font-size: 4.5vw;
  /* font-size: 20px; */
}
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
