body,
html {
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}
/* ==================== Fonts ============================================*/

@font-face {
  font-family: 'KiwiMaru-Light';
  src: url('/Fonts/KiwiMaru-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'UnboundedRegular';
  src: url('/Fonts/SyneMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RammetoOne';
  src: url('/Fonts/RammettoOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'JosrLight';
  src: url('/Fonts/Lexend-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'JosrRegular';
  src: url('/Fonts/Lexend-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RockSalt';
  src: url('/Fonts/RockSalt-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Homemsde';
  src: url('/Fonts/HomemadeApple-Regular.ttf') format('truetype');
}

.Handwritten {
  font-family: 'Homemsde';
}
.font-ComforterBrush-regular {
  font-family: 'JosrRegular';
}

.rock-salt {
  font-family: 'RockSalt';
}

.jost-light {
  font-family: 'JosrLight';
}
.jost-regular {
  font-family: 'JosrRegular';
}
.letter-space-05 {
  letter-spacing: 0.5vw;
}
.letter-space-02 {
  letter-spacing: 0.2vw;
}

.font-titel {
  font-family: 'JosrLight';
  color: #ffffff;
  /* color:      rgb(77, 76, 76); */
  font-size: 5.8vw;
  letter-spacing: 2.3vw;
}
.font-titel-name {
  font-family: 'JosrLight';
  color: rgba(255, 255, 255, 0.9);
  
  font-size: 1vw;
  /* letter-spacing: 0.1vw; */
}
.text-overlay {
  font-family: 'JosrLight';
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8vw;
}


.font-subtitle {
  font-family: 'JosrLight';
  font-size: 16px;
}
.font-text {
  font-family: 'JosrLight';
  font-size: 0.8vw;
  font-weight: 100;
}

.font-20 {
  font-size: 1vw;
}

.font-25 {
  font-size: 1.1vw;
}

.font-48-83 {
  font-size: 2.9vw;
}
/* ==================== Colours ============================================*/

.orange {
  color: #ed8e35;
}
.yellow {
  color: #F4B600;
}
.white {
  color: rgb(255, 255, 255, 0.7);
}
.gray {
  color: #ffffff;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .font-titel-name {
  font-family: 'JosrLight';
  color: rgb(238, 239, 232, 0.8);
  font-size: 1.3vw;
  /* letter-spacing: 1.6vw; */
}
  .font-text {
    font-family: 'JosrLight';
    font-size: 1.2vw;
  }
  .text-overlay {
    font-family: 'JosrLight';
    color: rgba(232, 236, 239, 0.6);
    font-size: 1.2vw;
  }
  .font-20 {
  font-size: 1.4vw;
}

.font-25 {
  font-size: 1.5vw;
}
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .font-titel {
    font-family: 'JosrLight';
    color: rgb(255, 255, 254);
    font-size: 6.5vw;
    letter-spacing: 2vw;
  }
  .font-titel-name {
    font-family: 'JosrLight';
    color: rgb(241, 241, 241);
    font-size: 1.4vw;
    /* letter-spacing: 1.3vw; */
  }
  .text-overlay {
    font-family: 'JosrLight';

    color: rgba(232, 236, 239, 0.6);
    font-size: 1.5vw;
  }
  .font-text {
    font-family: 'JosrLight';

    font-size: 1.4vw;
  }
  .font-20 {
    font-size: 1.8vw;
    /* font-size: 20px; */
  }
  .font-25 {
    font-size: 1.6vw;
  }
  .font-48-83 {
    font-size: 2.5vw;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .font-titel {
    font-family: 'JosrLight';
    color: rgb(255, 255, 254);
    font-size: 13.5vw;
    letter-spacing: 1vw;
  }

  .font-titel-name {
    font-family: 'JosrLight';
    color: rgb(241, 241, 241);
    font-size: 4.2vw;
    letter-spacing: 0vw;
  }
  .font-text {
    font-family: 'JosrLight';

    font-size: 3.9vw;
  }
  .font-20 {
    font-size: 4.5vw;
    /* font-size: 20px; */
  }
  .font-25 {
    font-size: 5.2vw;
  }
  .font-48-83 {
    font-size: 7.4vw;
  }
  .text-overlay {
    font-family: 'JosrLight';

    color: rgba(255, 255, 255);
    font-size: 3.9vw;
  }
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
